canvas {
    padding: 0;
    margin: auto;
    display: block;
    border: 1px solid #313131;
    position: relative;
}

button {
    border-radius: 50%;
    border: 1px solid #393939;
    background-color: #f3f3f3;
    width: 75px;
    height: 75px;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.buttons {
    text-align: center;
    margin-top: 2vh;
}

.slideshow-container {
    position: absolute;
    right: 12vw;
    top: 3vh;
    width: 20vw;
}

.prev, .next {
    position: absolute;
    margin-top: -15px;
    top: 50%;
    width: auto;
}
.next {
    right: 0;
}

.caption {
    text-align: center;
    font-size: 10px;
}
.mySlides {
    display: none;
}

.text {
    font-family: 'Fredericka the Great', cursive;
    color: #555555;
}

#exp-bar {
    width: 30vw;
    position: absolute;
    margin: auto;
    left: 12vw;
    top: 76vh;
}

#stamina-bar {
    width: 30vw;
    position: absolute;
    margin: auto;
    right: 12vw;
    top: 76vh;
}

#poki-info {
    position: absolute;
    top: 3vh;
    left: 12vw;
    font-size: 3vw;
}

#exp {
    position: absolute;
    top: 72vh;
    left: 12vw;
    font-family: 'Press Start 2P', cursive;
    color: #cd850e;
}
#stamina {
    position: absolute;
    top: 72vh;
    right: 12vw;
    font-family: 'Press Start 2P', cursive;
    color: #cd850e;
}

#choose {
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
}

#flegmon {
    position: absolute;
    top: 60vh;
    left: 33vw;
}

#seemops {
    position: absolute;
    top: 60vh;
    right: 38vw;
}