canvas {
    max-width: 90%;
    padding: 0;
    margin: auto;
    display: block;
    border: 1px solid #313131;
}

button {
    border-radius: 50%;
    border: 1px solid #393939;
    background-color: #f3f3f3;
    padding: 15px;
    width: 75px;
    height: 75px;
}

#button-clean {

}